<div class="bd-navbar navbar has-shadow is-spaced">
    <div class="navbar-brand">
        <a class="navbar-item" href="/explore">
            <img src="/images/pm-logo.png">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="/explore/{{session.user_id}}" class="navbar-item">
                <i class="material-icons as-text">explore</i>
                Explore
            </a>
            {{#if session.user_id}}
            <a href="/my-music/{{session.user_id}}" class="navbar-item">
                <i class="material-icons as-text">album</i>
                My Music
            </a>
            {{/if}}
            <a href="/users" class="navbar-item">
                <i class="material-icons as-text">supervisor_account</i>
                Users
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>
                <div class="navbar-dropdown">
                    <a href="/about" class="navbar-item">
                        <i class="material-icons as-text">copyright</i>
                        About
                    </a>
                    <a href="/contact" class="navbar-item">
                        <i class="material-icons as-text">contact_mail</i>
                        Contact
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                {{#if session.user_id}}
                <div class="buttons">
                    <a href="/logout" class="button is-light">
                        Log out
                    </a>
                </div>
                {{else}}
                <div class="buttons">
                    <a href="/login" class="button is-light">
                        Log in
                    </a>
                    <a href="/signup" class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<section class="section">
    <div class="container">
        {{> @partial-block }}
    </div>
</section>