{{#> navbar}}
<h1 class="title is-1 is-spaced">
    About
</h1>
<div class="subtitle is-5">
    <p>This website is a school project from Jönköping University in the Next Generation Web module.</p>
    <p>The goal of the website is to build a plateform that allow users to create and share playlists and songs.</p>
    <p>The technologies used are Node.JS with Express and a SQLite3 database.</p>
</div>
{{/navbar}}