{{#> navbar}}
<h1 class="title is-1 is-spaced">
    Contact US !
</h1>
<div class="subtitle is-5">
    <p>Fell free to give feedback by sending an email at
        <a href="mailto:diyo19ke@student.ju.se">diyo19ke@student.ju.se</a>.</p>
</div>
{{/navbar}}