{{#> navbar}}
<h1 class="title is-1">
    Contact US !
</h1>
<p>Fell free to give feedback by sending an email at <a href="mailto:diyo19ke@student.ju.se">diyo19ke@student.ju.se</a>.</p>
{{/navbar}}