{{#> navbar}}
<h1 class="title is-1 is-spaced">
    Explore
</h1>
{{#if allplaylists}}
<div class="columns is-multiline">
    {{#each allplaylists}}
    <div class="column is-one-quarter">
        {{> playlistCard this }}
    </div>
    {{/each}}
</div>
{{else}}
<h3 class="subtitle is-3">There is no public playlist...</h3>
{{/if}}
<br />

{{#if session.user_id}}
    <h1 class="title is-1 is-spaced">
        Your playlists
    </h1>
    {{#if myplaylists}}
    <div class="columns is-multiline">
        {{#each myplaylists}}
        <div class="column is-one-quarter">
            {{> playlistCard this }}
        </div>
        {{/each}}
    </div>
    {{else}}
    <h3 class="subtitle is-3">You have no playlists, <a href="#modalAddPlaylist">lets add some</a></h3>
    {{/if}}
{{/if}}
{{/navbar}}