<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <form class="box" action="/accounts/login" method="POST">
                    <h1 class="title is-1 has-text-centered"><a href="/" class="title is-1">Login</a></h1>
                    <div class="field">
                        <p class="control">
                            <input {{#if error}} class="input is-danger" {{else}} class="input" {{/if}}
                                placeholder="Your Username" name="username">
                        </p>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input {{#if error}} class="input is-danger" {{else}} class="input" {{/if}} type="password"
                                placeholder="Your Password" name="password">
                        </div>
                        {{#if error}}
                        <p class="help is-danger">Wrong username or password</p>
                        {{/if}}
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-block is-primary is-fullwidth">
                                Login
                            </button>
                        </p>
                    </div>
                    <div class="field">
                        <div class="subtitle is-5">
                            Don't have an account? <a href="/signup" class="href-is-blue">Sign Up!</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>