{{#> navbar}}
{{#if user}}
<h1 class="title">
    {{user.username}}'s Playlists
</h1>
{{else}}
<h1 class="title">
    My music
</h1>
{{/if}}
<div class="columns is-multiline">
    {{#each playlists}}
    <div class="column is-one-quarter">
        {{> playlistCard this user=../user}}
    </div>
    {{/each}}
</div>
{{/navbar}}