{{#> navbar}}
<nav class="level">
    <a class="button is-rounded" href="/explore">Back</a>
</nav>

<div class="columns">
    <div class="column is-one-quarter">
        <div>
            {{> playlistCard playlist}}
        </div>
        <br>
        <a href="#modalAddSong">
            <h5 class="subtitle is-5 is-spaced">+ Add new Song</h5>
        </a>
        <div id="modalAddSong" class="overlay">
            <div class="popup">
                <h1 class="title is-1">New Song</h1>
                <a class="close is-danger" href="#">&times;</a>
                <form action="/song/add" method="POST">
                    <div class="field">
                        <p class="control">
                            <input class="input" placeholder="Song name" name="name">
                            <input type="hidden" name="playlistid" value={{playlist.playlist_id}}>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <a href="#" class="button is-danger">
                                Cancel
                            </a>
                            <button class="button is-success" type="submit">
                                Add
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="column is-offset-1">
        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Song name</th>
                </tr>
            </thead>
            <tbody>
                {{#each songs}}
                <tr>
                    <td>{{name}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/navbar}}