<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <form class="box" action="/signup/create" method="POST">
                    <h1 class="title">Sign Up</h1>
                    <div class="field">
                        <p class="control">
                            <input class="input" placeholder="Username" name="username">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="password" placeholder="Password" name="password">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="password" placeholder="Retype Password" name="password2">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-block is-primary is-fullwidth" type="submit">
                                Sign Up
                            </button>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            Already have an account? <a href="/login">Login</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>