<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <form class="box" action="/accounts/create" method="POST">
                    <h1 class="title is-1 has-text-centered"><a href="/" class="title is-1">Sign Up</a></h1>
                    <div class="field">
                        <p class="control">
                            <input {{#if errorPassword}} class="input is-danger" {{else if errorUsername}} class="input is-danger" {{else}} class="input" {{/if}}
                                placeholder="Username" name="username">
                        </p>
                        {{#if errorUsername}}
                        <p class="help is-danger">Username already exists</p>
                        {{/if}}
                    </div>
                    <div class="field">
                        <p class="control">
                            <input {{#if errorPassword}} class="input is-danger" {{else}} class="input" {{/if}}
                                type="password" placeholder="Password" name="password">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input {{#if errorPassword}} class="input is-danger" {{else}} class="input" {{/if}}
                                type="password" placeholder="Retype Password" name="password2">
                        </p>
                        {{#if errorPassword}}
                        <p class="help is-danger">Username is empty / Password are different</p>
                        {{/if}}
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-block is-primary is-fullwidth" type="submit">
                                Sign Up
                            </button>
                        </p>
                    </div>
                    <div class="field">
                        <h5 class="subtitle is-5">
                            Already have an account? <a href="/login" class="href-is-blue">Login!</a>
                        </h5>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>