{{#> navbar}}
<h1 class="title is-1 is-spaced">
    Users
</h1>

{{#if users}}
<table class="table is-hoverable is-fullwidth is-striped">
    <tbody>
        {{#each users}}
        <tr>
            <td>
                <a href="/my-music/{{user_id}}">
                    <h5 class="subtitle is-5">{{username}}</h5>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>There is no users registered yet</p>
{{/if}}
{{/navbar}}